<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/mQHEgroKw2k);">
  <div class="container">
    <h1>Get context from political commuication!</h1>
    <p>by consulting their position on law.</p>
    <a class="btn-flat-red" href="#">Apply now</a>  <a class="btn-flat-green" href="#">Apply now</a>
  </div>
</div>
