<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1520500807606-4ac9ae633574?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2850&q=80);">
  <div class="container-center-home">
    <h1>Get context from political tweets!</h1>
    <p class= "p-2">by comparing the communication with their votes at the Parliament</p>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center mb-2"><%= link_to "Browse", posts_path(@posts), class: 'btn btn-flat-red' %></div>
      <div class="d-flex justify-content-center"><%=link_to "Sign up to contribute", new_user_registration_path, class: 'btn btn-flat-green' %></div>
    </div>
  </div>
</div>
