<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/mQHEgroKw2k);">
  <div class="container">
    <h1>Get context from political commuication!</h1>
    <p>by consulting their position on law.</p>
    <%= link_to "Browse", posts_path(@posts), class: 'btn btn-flat-green' %>
    <%= link_to "contribute", tweets_path(@tweets), class: 'btn btn-flat-red' %></button>
  </div>
</div>
