<div class="categories-container">
  <h4>Politicians</h4>
  <ul id="categories-list">
    <% @politicians.each do |politician| %>
      <div class="category-box">
        <li class="m-2"><i class="fas fa-dot-circle"></i><%= link_to politician.name, politician_path(politician.id) %></li>
      </div>
    <% end %>
  </ul>
</div>
