<div class="user-level-container">
  <h4>you current level is:</h4>
  <ul id="categories-list">

      <div class="category-box">
        <li class="m-2"><i class="fas fa-dot-circle"></i></li>
      </div>

  </ul>
</div>
