<div class="categories-container">
  <div class="law-text-2">Step by Step</div>
  <ul id="categories-list">
      <div class="category-box-step">

          <div class="box-1 border-bottom d-flex pt-2 pb-2">
            <div class="step-style"><h5 class="">1</h5> You decided if the tweet is related to a specific policy area or law</div>
          </div>

          <div class="box-1-step border-bottom d-flex pt-2 pb-2">
            <div class="step-style"><h5>2</h5> You match the tweet with relevant law. Don't hesitate to do an additional research </div>
          </div>

          <div class="box-1 border-bottom d-flex pt-2 pb-2">
            <div class="step-style"><h5>3</h5> You attach a policy area to the tweet and the law and then you are done </div>
          </div>

          <div class="box-1 border-bottom d-flex pt-2 pb-2">
            <div class="step-style"><h5>4</h5> A moderator will verify your information</div>
          </div>

          <div class="box-1 border-bottom d-flex pt-2 pb-2">
            <div class="step-style"><h5>5</h5> We do the Magic! Your post is ready to be seen by the world! </div>
          </div>

      </div>
  </ul>
</div>
