<div class="categories-container w-100 h-auto">
  <div class="law-text-2 pb-3">Categories</div>

    <% @policy_areas.each do |policy| %>
      <div class=" tag-style border-bottom">
        <div class="contribute d-flex box-1 justify-content-between tag-icon p-2 ">

          <div>
            <i class="fas fa-tag pr-2"></i><%= policy.category%>
          </div>

          <div>
            <i class="far fa-dot-circle filter-icon"></i>
          </div>

        </div>
      </div>
    <% end %>
</div>
