<div class="card-post">

  <div class="card-header">
    <div class="card-header-title">
      <h1>Manu, président</h1>
    </div>
  </div>

  <div class="tweet-container">

  </div>

  <div class="law-container">
    <div class="law-grid">

    </div>
  </div>

</div>
