<div class="categories-container mt-3 w-100 h-auto">
  <div class="law-text-2 pb-3">Categories</div>

    <% @policy_areas.each do |policy| %>
      <div class="d-flex pl-3">
        <div class="contribute box-1 tag-icon p-2">
          <div class="fas fa-tag pr-2"></div><%= policy.category%>
        </div>
      </div>
    <% end %>
</div>
