<div class="categories-container">
  <h4>How it works?</h4>
  <ul id="categories-list">
      <div class="category-box">
        <li><i class="fas fa-dot-circle m-3"></i>Step 1</li>
        <li><i class="fas fa-dot-circle m-3"></i>Step 2</li>
        <li><i class="fas fa-dot-circle m-3"></i>Step 3</li>
        <li><i class="fas fa-dot-circle m-3"></i>Step 4</li>
      </div>

  </ul>
</div>
