<div class="categories-container">
  <h4>See how it works </h4>
  <ul id="categories-list">
      <div class="category-box">
        <div class="box-1 border-bottom border-top p-2">Step 1</div>
        <div class="box-1 border-bottom p-2">Step 2</div>
        <div class="box-1 border-bottom p-2">Step 3</div>
        <div class="box-1 border-bottom p-2">Step 4</div>

      </div>

  </ul>
</div>
