<div class="categories-container">
  <div class="law-text-2 mt-3">Here's the Process</div>
  <ul id="categories-list">
      <div class="category-box">

          <div class="box-1 border-bottom p-2">
            <div class=""><h5>1</h5> You decided if the tweet is political or not </div>
          </div>

          <div class="box-1 border-bottom d-flex p-2">
            <div class=""><h5>2</h5> You match the tweet with relevant law </div>
          </div>

          <div class="box-1 border-bottom d-flex p-2">
            <div class=""><h5>3</h5> A moderator verifies your information </div>
          </div>

          <div class="box-1 border-bottom d-flex p-2">
            <div class=""><h5>4</h5> We do the Magic! </div>
          </div>

          <div class="box-1 border-bottom d-flex p-2">
            <div class=""><h5>5</h5> Your post is ready to be seen by the world! </div>
          </div>

      </div>
  </ul>
</div>
