<div class="categories-container">
  <div class="law-text-2 mt-3">Here's the Process</div>
  <ul id="categories-list">
      <div class="category-box">

          <div class="box-1 border-bottom p-2">
            <div class="">1. You decided if the tweet is political or not </div>
          </div>

          <div class="box-1 border-bottom p-2">
            <div class="">2. You match the tweet with relevant law </div>
          </div>

          <div class="box-1 border-bottom p-2">
            <div class="">3. A moderator verifies your information </div>
          </div>

          <div class="box-1 border-bottom p-2">
            <div class="">4. We do the Magic! </div>
          </div>

          <div class="box-1 border-bottom p-2">
            <div class="">5. Your post is ready to be seen by the world! </div>
          </div>

      </div>
  </ul>
</div>
