<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Hulow/transparence" target="_blank"><i class="fab fa-github fa-lg"></i></a>
    <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
  </div>
  <div class="footer-copyright">
    <div class="new-link mb-1">
<a href="https://www.nosdeputes.fr/" target="_blank" id="new-link"><i class="fas fa-copyright"></i> NosDéputés</a>
    </div>

    <div><i class="fas fa-copyright mb-2"></i> <%= Date.today.year %> Transparence</div>
  </div>
</div>
