<div class="">
   <%= simple_form_for @tweet, url: tweet_path(@tweet), method: :patch do |f| %>
    <%= f.submit :is_relevant?, as: :boolean, boolean_style: :inline, :label => "Do you think the tweet is political in nature"  %>
    <%= f.submit %>
    <% end %>
</div>

