<div class="score-container">
  <h1 class="title-score" title-score>Your score...</h1>
</div>

<div class="progress-container">
  <div class="progress">
    <div class="progress-done" data-done="10">
      <p class ="visualized-value"></p>
    </div>
  </div>

</div>
