  <nav class="navbar navbar-light search-bg">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search">
        <button class="btn my-2 my-sm-0 fas fa-search" type="submit"></button>
      </form>
  </nav>


