<nav class="navbar navbar-light search-bg">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Laws, Politicians.." aria-label="Search">
    <button class="btn-flat-green my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
