  <nav class="navbar pl-0 navbar-light search-bg-home">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a politician" aria-label="Search">
        <button class="btn my-2 my-sm-0 fas fa-search" type="submit"></button>
      </form>
  </nav>
