// Define variables for your color scheme

// For example:
$red: #B80C09;
$green: #023618;
$black: #262626
$light-gray: #C4C4C4;
$ivory: #FDFCEC
$eggshell: #F5ECD3;
$blue: #437C90;
$lighter-green: #219653;



