// Define variables for your color scheme

// For example:
$red: #870058;
$green: #1B3022;
$black: #262626;
$light-gray: #C4C4C4;
$ivory: #FDFCEC;
$eggshell: #F5ECD3;
$blue: #05204A;
$lighter-green: #219653;



// other blues: lighter #4F759B, darker: #05204A; , #274690
// purple: #B497D6, #870058, #8E6C88
