<%= render 'components/navbar_index'%>
<div class="main-container-index">

 <!--  <div class="container-filter ">
    <div class="card-filter">
      <p2>Filters</p>
      <div class="category-list">
        <p>category</p>
      </div>
    </div>

  </div> -->

  <div class="feed-container w-auto ">
      <div>
        <%= render 'components/card_tweet' %>
      </div>
  </div>

  <%= render 'components/list_laws'%>


  <!-- <div class="suggestions-container ">
    <div class="card-suggestion">
      <p>suggestion</p>
    </div>

  </div> -->
