<%= render 'components/navbar_index'%>
<div class="main-container-index">

 <!--  <div class="container-filter ">
    <div class="card-filter">
      <p2>Filters</p>
      <div class="category-list">
        <p>category</p>
      </div>
    </div>

  </div> -->

  <div class=" w-auto  ">
    <% @tweets.each do |tweet| %>
        <%= render 'components/card_tweet',tweet: tweet %>
    <% end %>
  </div>



  <!-- <div class="suggestions-container ">
    <div class="card-suggestion">
      <p>suggestion</p>
    </div>

  </div> -->
