<div class="main-container-index">

  <div class="container-filter mt-3">
    <div class="card-filter">
        <%= render'components/card_filter'  %>
    </div>

  </div>

  <div class="feed-container w-auto flex-column">
      <%= render 'components/card_post' %>
  </div>

  <div class="suggestions-container mt-3">
    <div class="card-suggestion">
      <p>suggestion</p>
    </div>

  </div>

</div>
