.avatar {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-small {
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-politician {
  width: 60px;
    height: 60px;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    object-fit: cover;
}
