.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.banner h1 {
  margin: auto;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  opacity: .95;
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

html, body {
  height: 100%;
}

.container-center-home {
  margin: auto;
  width: 70%;
  padding: 200px;
  backdrop-filter: blur(3px);
}



