.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.banner h1 {
  margin: auto;
  color: white;
  opacity: .95;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-size: 32px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

