.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85%;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.banner h1 {
  margin: auto;
  color: $ivory;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  opacity: .95;
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 22px;
  color: $ivory;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-weight: light;
}

html, body {
  height: 100%;
}

.container-center-home {
  margin: auto;
  width: 80%;
  padding: 180px;
  backdrop-filter: blur(2px);
  text-align: center;
}



