
.btn-flat-red {
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  background: $red;
  transition: background 0.3s ease;
}
.btn-flat-red:hover {
  background: #1BCB7F;
  color: white;
}

.btn-flat-green {
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  background: $green;
  transition: background 0.3s ease;
}
.btn-flat-green:hover {
  background: #1BCB7F;
  color: white;
}
