
.btn-flat-red {
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  background: $red;
  transition: background 0.3s ease;
}
.btn-flat-red:hover {
  background: #1BCB7F;
  color: white;
}

.btn-flat-green {
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  background: $green;
  transition: background 0.3s ease;
}
.btn-flat-green:hover {
  background: #1BCB7F;
  color: white;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-flat-red-1 {
  color: white;
  padding: 1px 4px;
  border-radius: 8px;
  background: $red;
  transition: background 0.3s ease;
  height: 32px;
  width: 160px;
  font-size:14px;

  text-align: center;


}
