.card-suggestion{

  background-color: $eggshell;
  border-radius: 16px;
  align-items: center;
  padding:4px;
  text-align:center;
  max-width:200px;
  color: $black;
  font-size:14px;

}

.card-filter {
  background-color: $eggshell;
  border-radius: 16px;
  align-items: center;
  padding:4px;
  text-align:center;
  max-width:200px;
  color: $black;
  font-size:14px;
}

.card-post {
  background-color: $eggshell;
  border-radius: 16px;
  height: 400px;
  align-items: center;
  padding:4px;
  text-align:center;
  max-width:640px;
  color: $black;
  font-size:14px;
}

.card-header {
  background-color: $ivory;
  height: 40px;
  margin: 4px;
  border-radius: 8px;
}

.tweet-container {
  margin: 4px;
  border-radius: 8px;
  background-color: $ivory;
  margin-top: 8px;
  text-align:left;

}

.tweet-content{
  font: work-sans;
  font-size: 14px;
  line-height: 22px;
  color: $black
}

.tweet-additional-info {
  font: work-sans;
  font-size: 12px;
  color: $light-gray;
}

.law-container {
  background-color: $ivory;
  height: 75px;
  margin: 4px;
  border-radius: 8px;
}

.card-political-group {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.card-header-title{
  display:inline-block;
  background-color: $ivory;
  border-radius: 8px;
  width: 320px;
  height: 32px;
  margin-right: 32px;
  max-resolution: 3px;
  padding: 4px;
  text-align: center;
  justify-content: space-between;

}

.politician-icon {
    vertical-align: middle;
    font-size: 16px;
    margin:3px
}

.law-container{

  background-color: $ivory;
  font-size:12px

}

.law-details{
  flex-grow:1;
}

.law-text{
  font-size:14px;
  text-align:left;
}


.law-info{
  flex-grow:1;
  width:500px;
}

.law-icon{
  font-size: 16px;
  vertical-align: middle;
  font-size: 24px;
}

.card-law-grid{
  height: 120px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  background-color: $eggshell;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.politician-info-add {
  font-size:14px;
  color: $black
}

.politician-info-add-username {
  font-size:12px;
  color: $light-gray
}

.law-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}

.post-share {
  height: 20px;
  background-color: $ivory;
  border-radius:8px;
}

.search .form-control {
    background-color:$ivory;
    color:white;
    text-align: center;
}

// .simple_form {
//   position: auto;
//   float: none;
//   text-align : center;
//   margin-right: auto;
//   margin-left: auto;
// }
// .select2-container--default .select2-selection--single span{
//   width: 100% !important;
// }

// .select2-selection.select2-selection--single {
//   width: 200px !important;
//   background-color: red !important;
// }

// .form-group > .select2-container {
//     width:
// }

// .select {
//   max-width: 100%;
// }

// .dropdown-wrapper {
//   width: 100%;
// }


// .select2-container {
//   width: 100% !important;
//   max-width: 100%;
// }

// .select2-selection {
//   width: 100%;
// }

.form-control {
}


.select2-selection--single {
  width: 100% !important;
  text-align: center;
  margin: 0 auto;
}


// .select2-selection--clearable {
//   width: 200px !important;
//   text-align: center;
//   margin: 0 auto;
// }




// .select2-selection {
//   width: 400px !important;
// }

// .select2-selection--single {
//   width: 400px !important;
// }

// .select2-selection--clearable {
//   width: 400px !important;
// }

// .simple_form div.input {
//   margin-bottom: 10px;
//   clear: both; /* Required for Webkit, but not for Gecko */
// }

// .select_law {
//   // position: relative;

// }
.retweet_container > .tweet-content{
  border-style: thin;
  border-color: $eggshell;
}

.simple_form {
  // position: fixed;
}
#match_project_law_id {
  width: 450px;
}
#match_policy_area_id {
  width: 450px;
}

.tweet_picture {
  object-fit: cover;
  width: 530px;
  border-radius: 16px;
}

// select2-container select2-container--default
