
.categories-container h4 {
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  font-size:24px;
  color: $green;
  // font-family: 'lora'
}

.categories-container {
  // background-color: $eggshell;
  // border-radius: 16px;
  height: 600px;
  width: 600px;
  padding: 20px;
  color: $black;
  font-size: 16px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  // font-family: 'lora'
}

#categories-list ul li{
  list-style: none;
  margin: 0px;
  padding: 0;
  border-bottom-color: $eggshell;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  border-bottom-color: $eggshell;
}


.fa-dot-circle {
  color: $red;
  padding-right: 16px;
}


.category-box {
  background-color: $ivory;
  width: auto;
  border-radius: 8px;
  margin: 10px;
  padding: 2px;
  // border-bottom-color: $eggshell;
  font-size: 14px;
}

.box-1{
  border-color: $ivory;
  font-size: 14px;
  font-weight: light;
  // border: 1px solid $eggshell;
}

.fa-tag {
  color: $red;
}

.tag-style {
  border-bottom-color-style: 1px solid $eggshell;
}

.step-style > h5{
  color: $red;
  font-weight: bolder;
}

.step-style{
  border-bottom-color-style: 4px solid red;
  border-color: red;
}

.category-box-step {
  background-color: $ivory;
  width: auto;
  border-radius: 8px;
  margin: 10px;
  // border-bottom-color: $eggshell;
  font-size: 14px;
}


.card-filter {
  color: $green;
}



