.card-suggestion{

  background-color: $eggshell;
  border-radius: 16px;
  align-items: center;
  padding:4px;
  text-align:center;
  max-width:200px;
  color: $black;
  font-size:12px;

}

.card-post {
  background-color: $eggshell;
  border-radius: 16px;
  height: 400px;
  align-items: center;
  padding:4px;
  text-align:center;
  max-width:640px;
  color: $black;
  font-size:12px;
}

.card-header {
  background-color: $ivory;
  height: 40px;
  margin: 4px;
  border-radius: 8px;
}

.tweet-container {
  margin: 4px;
  border-radius: 8px;
  background-color: $ivory;
  margin-top: 8px;
  text-align:left;

}

.tweet-content{

  font: work-sans;
  font-size: 12px;
  line-height: 22px;
  color: $black;

}

.tweet-additional-info {
  font: work-sans;
  font-size: 12px;
  color: $light-gray;
}

.law-container {
  background-color: $ivory;
  height: 75px;
  margin: 4px;
  border-radius: 8px;
}

.card-political-group {
  display: flex;

  margin-top: 8px;
  align-items: center;
}

.card-header-title{
  display:inline-block;
  background-color: $ivory;
  border-radius: 8px;
  width: 320px;
  height: 32px;
  margin-right: 32px;
  max-resolution: 3px;
  padding: 4px;
  text-align: left;
  justify-content: space-between;
  align-items:center;

}

.politician-icon {
    vertical-align: middle;
    font-size: 14px;
}

.law-container{

  background-color: $ivory;
  font-size:12px

}

.law-details{
  // margin: auto;
  width: 100%;


}

.law-text{
  font-size:12px;
  text-align:left;
  line-height:22px;
}


.law-info{
  flex-grow:1;
  width:500px;
}

.law-icon{
  font-size: 14px;
  vertical-align: middle;
  font-size: 22px;
}

.card-law-grid{
  height: 120px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  background-color: $eggshell;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 6px;
}

.politician-info-add {
  font-size:12px;
  color: $black
}

.politician-info-add-username {
  font-size:12px;
  color: $light-gray
}

.law-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}


.post-share {
  height: 20px;
  background-color: $ivory;
  border-radius:8px;
}

.political-group-name p {
  font-size: 12px;
  text-align: left;
}

.votes {
  font-size: 12px;
  align-items: center;
}

.votes i {
  font-size: 24px;
}

.political-group-dropdown {
  justify-content: flex-end;
}

.political-group-subcard i {
  font-size: 18px;
}

.votes_for {
  color: $green;
}

.votes_against {
  color: $red;
}

.votes_abstained {
  color: $lighter-green;
}

.law-info-summary{
  font-size:12px;
}


.law-details-sub-container{
  background-color: $eggshell;
  border-radius:4px;
  font-weight: light;
  font-size:12px;
}


.tweet-details-sub-container{
  background-color: $eggshell;
  border-radius:4px;
  font-weight: light;
  font-size:12px;
}

.fa-twitter {
  font-size: 16px;
  color: #1DA1F2;
}
