
.categories-container h4 {
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  font-size:24px;
  color: $green;

}

.categories-container {
  // background-color: $eggshell;
  // border-radius: 16px;
  height: 600px;
  width: 600px;
  padding: 8px;
  color: $black;
  font-size: 16px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

#categories-list ul li{
  list-style: none;
  margin: 0px;
  padding: 0;
  border-bottom-color: #F4ECD3
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  border-bottom-color: #F4ECD3
}


.fa-dot-circle {
  color: $red;
  padding-right: 16px;
}


.category-box {
  background-color: $ivory;
  width: auto;
  border-radius: 8px;
  margin: 10px;
  padding: 2px;
  border-bottom-color: #F4ECD3
}

.box-1{
  border-color: #F4ECD3!important;
}



