.footer {
}

.footer-links {
  margin-bottom: 8px;
}
.footer-links a {
  opacity: 0.5;
  text-decoration: none;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright span {
  color: $light-gray;
}
.footer-copyright a {
  color: $light-gray;

}
