// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar_home";
@import "banner";
@import "button";
@import "navbar_index";
@import "banner";
@import "card";
@import "grid";

.main-container-index {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-gap: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  text-align: center;
}
