// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar_home";
@import "banner";
@import "button";
@import "navbar_index";
@import "banner";
@import "card";
@import "grid";


.main-container-index {
  display: flex;
  // grid-template-columns: 2fr 8fr 2fr;
  // grid-gap: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  justify-content: space-between;
  font-size:14px;
  font: work-sans;
  color: $black
}

.feed-container {
  align-items: center;
  flex-grow: 1;
  display: flex;
  justify-content:center;

}

.container-filter {
  width: 200px;
}

.suggestions-container {
  width:200px;
}




