.navbar-lewagon-home {
  justify-content: space-between;
  background-color: $eggshell;
  padding-left: 40px;
  padding-right: 24px;
  width: 100%;
  height: 10%;
}

.navbar-lewagon-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse {
  margin-left: 32px;
  margin-right: 16px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title-home {
  font-family: 'Abril Fatface', cursive;
  color: $red;
  position: absolute;
  font-size: 40px;
  // left: 0;
  // right: 0;
  // margin-left: auto;
  // margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.navbar-home {
  background-color: none;
  position: relative;
}


.container-center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.container {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.nav-item a {
text-decoration: none;
}
