.navbar-lewagon {
  justify-content: space-between;
  background-color: $eggshell;
  padding-left: 40px;
  padding-right: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title {
  font-family: 'Abril Fatface', cursive;
  color: $green;
  font-style: bold;
}

.contribute-link {
  color: $red;
}

.links a {
  text-decoration: none;
  color: $green;
}
