
.progress-1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  margin-bottom: 40px;
}

.progress-1 {
  width: 40vw;
  height: 6vh;
  background-color: $ivory;
  border-radius: 20px;
  margin-left: 6px;
  margin-right: 6px;
}

.progress-1-done {
  height: 100%;
  width: 0;
  background: linear-gradient(to left, $red, $green);
  box-shadow: 0 3px 3px -5px $red, 0 2px 5px $red;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 1s ease;
  color: white;
}

p {
  font-weight: bold;
}

.title-score {
  margin: auto;
  height: 20vh;
  width: 60%;
  font-family: 'Lora';
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: $green;
  // text-transform: uppercase;
}


.graduation-container {
  margin: auto;
  height: 10px;
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  position: absolute;

  }

.level {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $ivory;
  border-radius: 50%;

}


.bar-icon {
  color: $red;
  margin-top: 27px;
}

.graduation-description-container {
  margin: auto;
  height: 10px;
  width: 35vw;
  display: flex;
  justify-content: space-between;;
  position: absolute;
}

.level-description {
  width: 100px;
  height: 100px;
  padding-top: 40px;

}

.title-description {
  font-family: 'Nunito';
  font-weight: bold;
  color: $red;
  font-size: 22px;
}

.result-container {
  align-items: center;
  text-align: center;
  // padding-top: 120px;

}

.result-container h1 {
  color: $black;
  font-family: 'Nunito';
  // font-weight: bold;
  font-size: 16px;
  // border-top: 10px solid $ivory;
  text-align: left;
  padding-left: 36px;
  padding-bottom: 20px;
}

.main-progress {
  background-color: $eggshell;
  border-radius: 8px;
  height: 320px;
  width: 100%;
  // align-items: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.progress-cards {
  margin: auto;
}

.user-profil {
  width: 100%;
  margin: auto;
}


