
.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.progress {
  width: 50vw;
  height: 40px;
  background-color: #d8d8d8;
  border-radius: 20px;
}

.progress-done {
  height: 100%;
  width: 0;
  background: linear-gradient(to left, #F2709C, #FF9472);
  box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 1s ease;
  color: white;
}

p {
  font-weight: bold;
}
