 // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar_home";

@import "components/search_bar";
@import "components/button";



@import "components/banner";
@import "components/navbar_home";


@import "components/navbar_index";



@import "components/card_filter";
@import "components/form";
@import "components/footer";
@import "@yaireo/tagify/src/tagify.scss";
@import 'select2/dist/css/select2';
@import "select2";
@import "components/progress_bar";
@import "components/errors";
@import "components/card_contribute";
@import "components/footer-home";


// Buttons & inputs' radius

body {
  background-color: $ivory;
  // font-style: 'Lora', serif;
}

tag {
  --tag--max-width: 90%;
}

.tagify__dropdown {
  max-width: 300px;
}

.form-control {
  height: auto;
}


